.container {
  display: flex;
  flex-direction: column;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.handlers {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  align-self: flex-end;
}
