.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 568px;
  min-height: 500px;
  height: 100%;
}

.drop_available {
  outline: 1px solid #9090f3;
}

.text {
  text-align: center;
}
