.modal {
  position: relative;
  margin: 0 auto;
  background: #1c1c21;
  border-radius: 40px;
  width: 720px;
  z-index: 100;
}

.close_icon {
  position: absolute;
  top: 60px;
  right: 40px;
  display: flex;
  cursor: pointer;
}
